<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<system.web>
		<compilation debug="false" targetFramework="4.0" />
	</system.web>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="WebSocketTestRule" stopProcessing="true">
					<match url="wstest/(.*)" />
					<conditions>
						<add input="{CACHE_URL}" pattern="^(.+)://" />
					</conditions>
					<action type="Rewrite" url="{MapProtocol:{C:1}}://localhost/{R:1}" />
				</rule>				
			</rules>
            <rewriteMaps>
                <rewriteMap name="MapProtocol">
                    <add key="https" value="http" />
                    <add key="wss" value="ws" />
                </rewriteMap>
            </rewriteMaps>
		</rewrite>
	</system.webServer>
</configuration>
