<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" /> 
		<rewrite>
			<rules>
				<rule name="WebSocketProxy" stopProcessing="true">
					<match url="^RemoteViz/[^\.]*" />
					<conditions>
						<add input="{CACHE_URL}" pattern="(.+)://" />
					</conditions>
					<!-- Replace "remoteviz_service_ip" by the RemoteViz service IP address -->
					<!-- {C:1} contains the used websocket protocol (ws or wss) -->
					<action type="Rewrite" url="{C:1}://127.0.0.1:8080" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
