<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<system.webServer>
		<handlers>
			<add name="iisnode" path="search.js" verb="*" modules="iisnode"/>
		</handlers>
		<iisnode nodeProcessCommandLine="&quot;%systemdrive%\nodejs\node.exe&quot; --max-old-space-size=4096"/>
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>